body{
    background:rgb(238, 129, 147);
    font-family:Geneva, Tahoma, sans-serif;

}

h1{
    font-size:40px; 
}

.todo-container{
    background-color: pink;
    margin: 0 auto;
    width: 400px;
    box-shadow:0 2px 4px rgba(0,0,0,0.1),
    0 25px 50px; rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.todo-container ul{
    list-style: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}

.todo-container li{
    padding: 16px;
    border-bottom: 1px solid;
    font-size: 18px;
    text-align: center;
}

